 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_url "banner.jpeg" %> ');">

  <div class="container">
    <h1>Urban Jungle</h1>
    <div class="d-flex">
      <%= link_to 'Créer un jardin', new_garden_path, class: 'button button-primary'  %>
      <%= link_to 'Discover', gardens_path, class: 'button button-secondary ms-4'  %>
    </div>
  </div>
</div>
